.card-item div {
    max-height: 500px !important;
}

.card-item {
    min-height: 300px !important;
}

.card {
    background: transparent;
}

p {
    font-weight: 500;
}

.card-img-top {
    margin-top: 40px;
    filter: drop-shadow(10px 10px 10px #68869fbd);
}

body {
    background: url(images/bg.png);
    font-weight: 500;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #a9d8ff;
}

body::-webkit-scrollbar-thumb {
    background-color: #212529;
}