body {
    padding: 80px;
    background: #010101;
    overflow: hidden;
}

.list {
    /* width: calc(100% - 160px); */
    /* position: absolute; */
    list-style-type: none;
    animation: scroll 5s;
}

 .list li {
    width: 100%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
 }

 

 a {
    color: #fdfdfde4;
 }