body {
    overflow: hidden;
}

button, li {
    cursor: pointer;
}

.namebox {
    background-color: black;
    opacity: 60%;
    color: white;
    /* height: 30px; */
    bottom: 120px;
    position: fixed;
    display: none;
    width: 30%;
    z-index: 999;
    border-bottom: 1px solid aliceblue;
}

.textbox {
    background: black;
    opacity: 60%;
    display: none;
    bottom: 0;
    position: fixed;
    height: 120px;
    color: white;
    z-index: 998;
}

.char img {
    max-width: 30%;
    max-height: 100vh;
    object-fit: cover;
    object-position:top;
}

.charHolder {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 990;
    transform-origin: top;
}

.inputField {
    position: absolute;
    top: 100px;
    width: 36%;
    left: 32%;
    background-color: black;
    opacity: 70%;
    display: none;
    z-index: 995;
}

.inputField p {
    margin-bottom: 7px;
    color: white;
}

.inputField input {
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 70%;
    z-index: 1000;
    width: 100%;
}

header a {
    color: aliceblue;
}

.nav-div {
    display: flex;
    flex-direction: row;
}

.saveDialog {
    background-color: black;
    opacity: 70%;
    position: absolute;
    top: 10%;
    width: 76%;
    left: 12%;
    display: none;
    z-index: 999;
    color: white;
    list-style-type: none;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.saveDialog li img {
    width: 100%;
    max-height: 140px;
}

.main {
    max-height: 100vh;
    overflow: hidden;
}


.choiceField {
    position: absolute;
    top: 100px;
    width: 30%;
    left: 35%;
    background-color: black;
    opacity: 70%;
    display: none;
    z-index: 995;
    gap: 16px;
}

.choiceField p {
    margin: 0;
    cursor: pointer;
}